include header.pug

main.employeedetail
  .container
    img(src='/static/images/employee.jpg' alt='person')
    ul.list
      li Name:
      li Surname:
      li Address:
      li Date of birth:
      li Job:
      li Brief story:
    ul.list-content
      li #{ employee.em_name }
      li #{ employee.em_surname }
      li #{ employee.em_address }
      li #{ employee.em_dob }
      li #{ employee.em_job }
      li #{ employee.em_briefstory }

include footer.pug